* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
main {
    font-size: 1.6rem;
}
ul {
    list-style: none;
}
/*Hero Section
    Header
*/

.hero-section-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 70vh;
    max-width: 60rem;
    margin: 0 auto;
    padding-top: 4rem;
    text-align: center;
    gap: 1.5rem;
    align-items: center;
    font-family: Roboto,serif;
}
header {
    font-family: 'Hedvig Letters Serif', serif;
    width: 100%;
    order: 1;
}
h1 {
    font-size: 2.4rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    position: relative;
    right: 2px;
}
h1::before {
    content: "W";
    font-size: 3.6rem;
    font-family: serif;
    font-weight: 500;
    position: relative;
    left: 4px;
}
h1::after {
    content: "A";
    font-size: 3.6rem;
    font-weight: 500;
    position: relative;
    top: .6px
}
header span {
    font-size: 1.5rem;
}
/*Wikipedia logo and list languages */
.hero-main-content {
    display: flex;
    justify-content: center;
    min-width: 100%;
    order: 2;
}
.hero-main-content figure{
    margin: auto 0;
    min-width: 40%;
}
.hero-main-content figure img{
    width: 100%;
    max-width: 200px;
} 
.language-list {
    display: flex;
    flex-direction: column;
}
.language-list li{
    margin: 13px 10px;
    height: 25%;
    position: relative;
    letter-spacing: 1px;
}
/*left list*/
.language-list.left li:nth-child(1){
    left: 8rem;
}
.language-list.left li:nth-child(2){
    left: 3rem;
}
.language-list.left li:nth-child(3){
    left: 2rem;
}
.language-list.left li:nth-child(4){
    left: 3.5rem;
}
.language-list.left li:nth-child(5){
    left: 9rem;
}
/*righ list*/
.language-list.right li:nth-child(1){
    right: 8rem;
}
.language-list.right li:nth-child(2){
    right: 3rem;
}
.language-list.right li:nth-child(3){
    right: 2rem;
}
.language-list.right li:nth-child(4){
    right: 3.5rem;
}
.language-list.right li:nth-child(5){
    right: 9rem;
}
.language-list li a {
    display: block;
    font-weight: 600;
    text-decoration: none;
    color: #36c;
}
.language-list li a:hover{
    background-color: rgba(223, 224, 227, 0.955);
    text-decoration: underline;
}
.language-list li a > span{
    display: inline-block;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    color: gray;
}
/*Search bar*/
.search-bar-container {
    display: flex;
    border: 1px solid gray;
    order: 3;
}
.search-bar-container label {
    display: none;
}
.search-bar-container input{
    width: 33rem;
    height: 4rem;
    padding-left: 1rem;
    border: none;
    outline: none;
}
.search-bar-container:hover{
    border: 2px solid #36c;
    box-shadow: inset 0px 1px 2px 0px #34425e;
}
.select-input-language-container {
    position: relative;
    top: 1rem;
    left: -0.5rem;
    display: flex;
    align-items: center;
    height: 20px;
    padding-left: 5px;
}
.select-input-language-container:hover {
    background-color: rgba(237, 237, 238, 0.955);
}  
.select-input-language-container span.select-input-language {
    font-size: 1.2rem;
    color: gray;
} 
.select-input-language-option {
    background-image: url("https://cdn.icon-icons.com/icons2/3391/PNG/512/small_down_icon_213370.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 20px;
    height: 20px;
}

.search-icon-container {
    background-color: #36c;
    position: relative;
    width: 5rem;
    height: 4rem;
    order: 3;
}
.search-icon-container img {
    width: 20px;
    height: 100%;
    object-fit: contain;
}
/*Wikipedia botton language*/
.select-wikipedia-language-container {
    order: 4;
}
.select-wikipedia-language-container, .primary-button-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.horizontal-bar.small {
    border: 0.5px solid rgb(200, 200, 200);
    width: 8rem;
    margin: 2rem 10px 0;
}
.horizontal-bar.large {
    border-bottom: 1px solid rgb(213, 213, 213);
    width: 95%;
    margin: 3rem auto 2rem;
}
.horizontal-bar.large:last-of-type {
    margin-top: 1rem;
}
.primary-button-container div {
    position: relative;
}
.translate-icon {
    background-image: url("https://static-00.iconduck.com/assets.00/translate-icon-256x256-w8ius5w9.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
}
.select-wikipedia-language-container button{
    min-width: 25rem;
    padding: 7px 5px;
    margin-top: 15px;
    border: 1px solid gray;
    color: #36c;
    background: #f7f7f7;
    font-weight: 600;
}
.select-wikipedia-language-container button:hover{
    background: #ffffff;
}
/*main section*/
.main-section-container {
    display: grid;
    grid-template-columns: 35rem 1fr;
    min-width: 100%;
    min-height: 67vh;
    padding: 2rem 8rem;
    font-family: Roboto,serif;
    font-size: 1.2rem;
    color: #34425e;
}
.main-section-container a {
    text-decoration: none;
    color: #36c;
}
.main-section-container .fundation-info-container a:hover {
    text-decoration: underline;
}
.main-section-container img{
    max-width: 40px;
}
.wikipedia-logo-mini-container {
    background-color: #ffffff;
    box-shadow: 1px 1px 4px gray;
    border-radius: 7px;
}
.wikipedia-logo-mini-container img {
    transform: translateY(5px);
}
.wikipedia-info-main-container {
    display: grid;
    align-items: start;
    grid-template-rows: 16rem 1fr;
    text-align: left;
    line-height: 1.7;
}
.fundation-info-container, .download-wikipedia-container{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    align-items: start;
    padding: 1.5rem 3rem 1.5rem 1.6rem;
    gap: 13px;
}
.bold.gray {
    font-weight: 600;
    color: #34425e;
}
.download-wikipedia-container {
    background: #f7f7f7;
}
.download-wikipedia-container-flex {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.buttons-app-container-flex {
    display: flex;
    min-width: 100%;
    min-height: 4rem;
}
.get-wikipedia-app-button-playstore {
    background-image: url(https://play.google.com/intl/es-419/badges/static/images/badges/es-419_badge_web_generic.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 40px;
    min-width: 102px;
    display: inline-block;
}
.get-wikipedia-aap-button-appstore {
    background-image: url(https://w7.pngwing.com/pngs/1015/380/png-transparent-app-store-logo-iphone-app-store-google-play-apple-app-store-electronics-text-logo.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    min-width: 113px;
    display: inline-block;
}
/*aside main*/
.wikipedia-items-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    min-height: 100%;
    margin-left: 2rem;
}
.wikipedia-item-list {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.7rem 1.5rem 2rem;;
    gap: 6px;
    margin: 0 1rem;
}
.wikipedia-item-list .item-list-title-content-container{
    padding: 0.5rem 0.2rem;
}
.wikipedia-item-list:hover {
    background: #f7f7f7;
}
.wikipedia-item-list p{
    margin-top: 0.3rem;
    line-height: 1.5;
}
.wikipedia-item-list a {
    font-size: 1.4rem;
}
footer 
.get-wikipedia-app-button-playstore{
    min-width: 100%;
    min-height: 5vh;
}
@media screen and (max-width: 520px) {
    html {
        font-size: 8.5px;
    }
    .hero-main-content figure {
        position: absolute;
        top: 45px;
        right: 68vw;
        min-width: 55px;
    }
    .hero-main-content figure img {
        max-width: 55px;
    }
    .hero-main-content {
        flex-direction: row;    
    }
    .language-list li{
        position: static;
        margin-left: 0;
        margin-right: 0;
        padding: 0 7rem;
    }
    .search-bar-container {
        order: 1;
    }  
}